.customers {
    background-color: #FFFFFF;
}

.customers-title {
    color: #212121;
    text-align: center;
    @include font(36px, 700, normal, 1.08px);
    margin-top: 94px;
    margin-bottom: 50px;
}

.customers-list {
    @include display(flex, center, center);
    margin-bottom: 94px;
}

.customers-list-item:not(:last-child) {
    margin-right: 30px;
}

.customers-item-link {
    padding: 16px 32px;
    @include display(flex, center, center);
    border-radius: 4px;
    border: 1px solid var(--customers-icon--);
    @include transition(color, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
}

.customers-item-icon {
    fill: var(--customers-icon--);
    @include transition(fill, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
}

.customers-item-link:hover ,
.customers-item-link:focus {
    border-color: var(--active--);
}

.customers-item-link:hover .customers-item-icon,
.customers-item-link:focus .customers-item-icon{
    fill: var(--active--);
}
