.hero-back{
    background-color: var(--hero--);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.40),
        rgba(47, 48, 58, 0.40)),
        url(../images/Img-hero-back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    object-fit: cover;
    text-align: center;

}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 118px;
    padding-bottom: 118px;
    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero-title{
    @include font (12px, 700, 1.62, 1.56px);
    color: var(--hero-title--);
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;

    @media screen and (min-width: 480px) {
        @include font( 18px, 900, 1.61, 1.56px);
    }

    @media screen and (min-width: 768px) {
        padding-bottom: 50px;
        @include font (26px, 900, 1.61, 1.56px);
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 50px;
        @include font (44px, 900, 1.36, 2.64px);
    }
}
.hero-btn {
    @include font (10px, 700, 1.87, 0.96px);
    padding: 10px 24px;
    // height: 50px;
    border-radius: 4px;
    background: var(--background-btn--);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--hero-title--);
    text-align: center;
    // @include font (16px, 700, 1.87, 0.96px);
    // padding: 10px 32px;
    @media screen and (min-width: 480px) {
            @include font (16px, 700, 1.87, 0.96px);
        }
        
        @media screen and (min-width: 768px) {
            @include font (16px, 700, 1.87, 0.96px);
            padding: 10px 32px;
        }
        
        @media screen and (min-width: 1200px) {
            @include font (16px, 700, 1.87, 0.96px);
            padding: 10px 32px;
        }
}

.hero-btn:hover ,
.hero-btn:focus {
    background-color: hsl(210, 85%, 49%);
    box-shadow: 0px 4px 4px 0px rgba(12, 118, 171, 0.15);
}
