
.backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


.modal {
    width: 100%;
    min-height: 581px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 
                0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
                0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: 528px;
    }
}

.modal-close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.10);
    background-color: transparent;
    position: absolute;
    top: 8px;
    right: 8px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
    border-color: var(--active--);
}

.modal-close:hover .modal-close-icon{
    fill: var(--active--);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-form-title {
    color: var(--about-text---);
    text-align: center;
    @include font(20px, 700, normal, 0.6px);
    width: 100%;
    margin-bottom: 12px;
}

.modal-form-label {
    color: var(--about-text-items);
    @include font(12px, 400, normal, 0.12px);
    margin-bottom: 4px;
}

.modal-input-wrap {
    position: relative;
    margin-bottom: 10px;
}

.modal-input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    padding-left: 42px;
    padding-right: 12px;
    outline: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    padding: 12px 16px 12px 16px;
    resize: none;
    margin-bottom: 20px;
    outline: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea::placeholder {
    color: rgba(117, 117, 117, 0.50);
    @include font(12px, 400, normal, 0.12px);
}

.modal-form-input:hover,
.modal-form-input:focus {
    border-color: var(--active--);
}

.modal-form-input:hover + .modal-input-icon,
.modal-form-input:focus + .modal-input-icon {
    fill: var(--active--);
}

.modal-form-textarea:hover,
.modal-form-textarea:focus {
    border-color: var(--active--);
}

.checkbox-wrap {
    @include display(flex, center, center);
    margin-bottom: 30px;
    gap: 10px;
}

.modal-checkbox {
    @include display(flex, center, center);
}

.modal-checkbox-text {
    color: var(--about-text-items);
    @include font(11px, 400, normal, 0.36px);
    display: flex;
    align-items: center;
    @media screen and (min-width: 1200px) {
        @include font(14px, 400, 1.71, 0.42px);
    }
}

.checkbox-item {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
    @include display(flex, center, center);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
    fill: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
}

.modal-checkbox:checked + .modal-checkbox-text .checkbox-item {
    background-color: var(--active--);
    border: none;
    fill: var(--active--);
}

.modal-link-text {
    color: var(--active--);
    @include font(14px, 400, 1.71, 0.42px);
    text-decoration-line: underline;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-wrap {
    @include display(flex, center, center);
}

.modal-button {
    display: flex;
    align-content: center;
    border-radius: 4px;
    border-color: #2196F3;
    background-color: var(--background-btn--);
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 52px;
}
